{% extends 'app/base.html' %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/target.css' %}">
{% endblock %}
{% block title %}<h1>Цели</h1>{% endblock %}

{% block content %}
    <div class="base">
        {% for target in targets %}
            <div class="group">
                <div class="status">
                    <div class="info">
                        {% if target.reached == 100 %}
                            <h2>Цель достигнута!</h2>
                            <p>🎉😎👍</p>
                        {% else %}
                            <h3 class="target-name">{{ target.name }}</h3>
                            <h3>Цель: {{ target.target_sum }}</h3>
                            <p> Осталось: {{ target.current_sum }}</p>
                        {% endif %}
                    </div>
                    <div class="edit">
                        <a href="{% url 'edit_target' target.id %}">
                            <button>Редактировать</button>
                        </a>
                        <form action="{% url 'delete_target' target.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not targets %}
            <div class="empty">
                <h2>Целей нет 😔</h2>
                {% if not user.is_anonymous %}
                    <a href="{% url 'create_target' %}">
                        <button>Добавить цель</button>
                    </a>
                {% endif %}
            </div>
        {% else %}
            {% if not user.is_anonymous %}
                <a href="{% url 'create_target' %}">
                    <button>Добавить цель</button>
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}